.node #title{
    background-color: rgb(29,115,57);
}
#node-border{
    background-color: rgb(0,0,0);
}
.Label{
    margin-top: 5px;
    margin-left: 4px;
    font-size: 10px;
}
.DialogInput{
    width: 50%;
}
.DialogOutput{
    width: 50%;
}